﻿@model ScriptResult
@{
    ViewBag.Title = "Script Sandbox";
}

<header>

    <h1>@ViewBag.Title</h1>
</header>
<main>

    @switch (Model.Status) {
    case ScriptStatus.Ok:
        <h2>Success!</h2>
        <div>@Model.PrintText</div>
        @if (!string.IsNullOrWhiteSpace(Model.Code)) {
            <h3>Info</h3>
            <div><pre>@Model.Code</pre></div>
        }
        break;
    case ScriptStatus.CompileError:
        <h2>CompileError</h2>
        <div>@Model.ErrorText</div>
        break;
    case ScriptStatus.RuntimeError:
        <h2>Runtime Error</h2>
        <div>@Model.ErrorText</div>
        if (Model.Exception is not null) {
            <div>@Model.Exception.Message</div>
        }
        break;
    }


    <form asp-action="Run" method="post" asp-controller="Script">

        <label asp-for="Script"></label>
        <textarea rows="25" cols="80" asp-for="Script">@Model.Script</textarea>

        <button type="submit">Run script</button>
    </form>

</main>
