﻿.flash-border {
    box-shadow: none;
    animation: flash-border ease-in-out 0.5s alternate calc( var(--count) * 2);
}

@keyframes flash-border {
    to {
        box-shadow: 
            0 0 0.05em 0.0em hsl(0, 65%, 100%) inset, 
            0 0 0.1em 0.1em hsl(40, 65%, 50%) inset,
            0 0 0.2em 0.2em hsl(0, 65%, 50%) inset,
            0 0 0.05em 0.0em hsl(0, 65%, 100%),
            0 0 0.1em 0.1em hsl(40, 65%, 50%),
            0 0 0.2em 0.2em hsl(0, 65%, 50%);
    }
    from {
        box-shadow: 0 0 0 0 hsl(0, 100%, 100%) inset,
            0 0 0 0 hsl(40, 100%, 50%) inset,
            0 0 0 0 hsl(0, 100%, 50%) inset,
            0 0 0 0 hsl(0, 100%, 100%),
            0 0 0 0 hsl(40, 100%, 50%),
            0 0 0 0 hsl(0, 100%, 50%);
    }
}