﻿
:root {
    --background: #2c3042;
    --background-grad-start: #262938;
    --background-grad-end: #0a0b0b;
    --shadow: #141617;
    --foreground: #bbe1fa;
    --border-color: #7293c6;
    --highlight: white;
    --gap-small: 0.2em;
    --gap-medium: 0.6em;
    --gap-large: 1em;
    --border-width: 2px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.box {
    background: var(--background);
    border-radius: var(--gap-medium);
    border: var(--border-width) solid var(--border-color);
    margin: var(--gap-large);
    padding: var(--gap-medium);
}

.shadow {
    box-shadow: var(--gap-medium) var(--gap-medium) var(--gap-small) 0 var(--shadow);
}

.box:hover {
    border-color: var(--highlight);
    background: var(--background);
}

body {
    background: linear-gradient(var(--background-grad-start), var(--background-grad-end));
    color: var(--foreground);
    display: grid;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    grid-template-areas: "head" "main" "foot";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    margin: var(--gap-medium) auto;
    overflow: hidden;
    width: 100vw;
}

input, a, button {
    background: var(--background);
    color: var(--foreground);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#log {
    height: 8em;
    overflow-y: auto;
}

#controls {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 0;
    top: 0;
}

    #controls > * + * {
        margin-left: var(--gap-medium);
        margin-right: var(--gap-medium);
    }

main {
    grid-area: main;
    overflow: auto;
}

#systems {
    display: flex;
    flex-flow: row wrap;
}

    #systems legend {
        font-weight: bold;
        font-size: 110%;
    }


.indusry .title {
    font-weight: bold;
}

footer {
    grid-area: foot;
}

details summary {
    padding: 0.2em;
}

.industry {
    display: grid;
    grid-template-areas: "title title" "consumes produces";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.4em;
    margin-bottom: 0.4em;
}

    .industry .title {
        grid-area: title;
        justify-self: start;
        font-weight: bold;
        padding-left: 0.4em;
    }

    .industry .consumes {
        grid-area: consumes;
    }

    .industry .produces {
        grid-area: produces;
    }

.grid-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2em;
}

    .grid-table .count {
        justify-self: end;
    }


