﻿<main>
    <canvas width="800" height="800"></canvas>
</main>
<script type="module">
    import { $ } from './common.js';
    import { Ant } from './ant.js';

    function init() {

        const a = new Ant(200, 200, 0.25 / 2);
        const $canvas = $("canvas");
        const g = $canvas.getContext("2d");

        let moveCounter = 0;

        function m() {
            moveCounter += 1;
            if (moveCounter % 10 == 0) {
                if (Math.random() > 0.5) {
                    a.turnLeft().then(m);
                } else {
                    a.turnRight().then(m);
                }
            } else {
                a.move().then(m);
            }
        }

        m();

        let start;
        function tick(timestamp) {

            if (start === undefined) {
                start = timestamp;
            }

            const elapsed = (timestamp - start) / 1000;
            start = timestamp;

            a.tick(elapsed);

            // Update gaphics
            g.clearRect(0, 0, $canvas.width, $canvas.height)
            a.draw(g);
            requestAnimationFrame(tick);
        }

        requestAnimationFrame(tick);
    }

    window.addEventListener("load", init);
</script>
