﻿@model GameEngine
<nav id="controls" class="box">
    <button id="tick-cmd">Tick</button>
    <span id="tick-count">@Model.TickNumber</span>
</nav>
<main>
    <div id="systems"></div>
</main>

<footer>
    <fieldset id="log" class="box">
        <legend>Mesage Log</legend>
    </fieldset> 
</footer>
<script type="module" src="~/main.js" ></script>
